*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --form-border-color: #454545;
    --background-color: #ffffff;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    padding: 2rem;
    border: 1px solid var(--form-border-color);
}

.title{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
    padding: 0.5rem;
    border-bottom: 0.8px solid var(--form-border-color);
}

.form-group{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-btn{
    padding: 0.6rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8rem;
    color: var(--background-color);
    background-color: var(--form-border-color);
    border: 2px solid transparent;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: all 0.3s ease-in;
    width: 100%;
}

.form-btn:hover{
    background-color: #000;
    /* border: 2px solid var(--form-border-color);*/
    border-radius: 5px; 
}

.form-header{
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: var(--background-color);
}

th {
    background-color: var(--form-border-color);
    color: white;
}

.back-btn{
    text-decoration: none;
    margin: 1.2rem auto;
    padding: 1rem;
    background-color: var(--form-border-color);
    color: var(--background-color);
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
}

.back-btn:hover{
    background-color: #000;
    /* color: var(--form-border-color);
    border: 2px solid var(--form-border-color); */
    border-radius: 5px;
}

.img-wrapper{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.details{
    text-align: center;
    margin: 0.5rem 0;
}