<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Benford Analysis | {{title}}</title>
        <!--<link
            rel="stylesheet"
            href="{{ request.static_url('__main__:static/style.css') }}"
        />-->
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="home-wrapper">
        <div class="form-wrapper">
            <h2 class="title">Benford Data Analysis</h2>
        <form method="POST" enctype="multipart/form-data" id="myform">
            <div class="form-group">
                <label for="csvInput" class="form-header">Select CSV file to upload: </label>
                <input type="file" name="csvInput" id="csvInput" required>
            </div>
            <div class="btn-group">
            <a href="#" class="form-btn" id="benford">Get Json</a>
            <a href="#" class="form-btn" id="analyse">Analyse</a>
            </div>
        </form>
    </div>
</div>
    </body>
    <script>
        function submitForm(action_url) {
            var form = document.getElementById("myform");
            form.action = action_url;
            form.submit();
        }
        document.getElementById("benford").addEventListener("click", ()=>{submitForm("/benford")});
        document.getElementById("analyse").addEventListener("click", ()=>{submitForm("/analyse")});
    </script>
        
</html>
